<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SIGNATURE RECOGNITION & VERIFICATION SYSTEM </title>

    <!-- Bootstrap core CSS -->
    <link href="bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <!-- <link href="css/blog-home.css" rel="stylesheet"> -->
</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="./">SIGNATURE RECOGNITION & VERIFICATION SYSTEM </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="./">Home
                        <!-- <span class="sr-only">(current)</span> -->
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="newsignature.php" style="color:#fff">New Signature</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Page Content -->
<div class="container">
    <br><br>
    <!-- /.row -->
    <div class="row">
        <div class="col-md-12">
            <!-- Search Widget -->
            <div class="card my-12">
                <h5 class="card-header" ><center>Proof Signature</center></h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="text-warning" style="margin-top: 30%;"><center>You have submitted your document with a signature!!!</center></h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.container -->

<br><br>
<!-- Footer -->
<footer class="py-5 bg-dark">
 <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; NASCOMSOFT</p>
  </div>-->
   <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<!-- <script src="vendor/jquery/jquery.min.js"></script> -->
<script src="bootstrap.bundle.min.js"></script>

</body>

</html>
